/* Estilos globales */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='100%' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1095%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(241%2c 245%2c 246%2c 1)'%3e%3c/rect%3e%3cpath d='M902.47 146.74 a211.94 211.94 0 1 0 423.88 0 a211.94 211.94 0 1 0 -423.88 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1623.8617857890588 251.57834313865305L1351.7356304107093 168.09736242571012 1403.4688148850237 411.48285976277367z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M419.941%2c1091.817C485.861%2c1094.641%2c547.763%2c1055.201%2c578.229%2c996.676C606.708%2c941.968%2c592.357%2c876.865%2c558.762%2c825.14C528.315%2c778.262%2c475.812%2c751.216%2c419.941%2c752.966C367.004%2c754.624%2c322.33%2c787.778%2c295.405%2c833.387C267.957%2c879.883%2c260.085%2c935.409%2c283.524%2c984.049C310.487%2c1040.001%2c357.888%2c1089.158%2c419.941%2c1091.817' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1956.9098951558547 644.1357643810206L2066.7203951806932 513.2687064718523 1815.5145583045216 413.98648538917826z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1095'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Estilos globales */

/* Aqui empiezan los estilos de el header */
header {
  background: #2090e4;
  background: linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);
  background: -webkit-linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);
  background: -moz-linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);/* Cambiar el color de fondo a azul */
  position: fixed;  /* Hacer que el encabezado sea fijo */
  top: 0;  /* Establecer la posición superior en 0 */
  left: 0; /* Establecer la posición izquierda en 0 */
  width: 100%; /* Establecer la anchura al 100% */
  z-index: 999; /* Asegurar que el encabezado aparezca por encima de cualquier otro contenido */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
}

.logo img {
  width: 120px;
  max-height: 60px;
}

.titulo h1 {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  /*font-family: 'Nerko One', cursive;*/
}

h1 {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login svg {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  padding-top: 9px;
}
.logo-ingresa {
  color: #fff;
  font-size: small;
  text-decoration: none;
  font-weight: bold;
}
.logo-ingresa :hover {
  color: #fff;
}
/* Hasta aqui llegan los estilos de el header */

/* Aqui empiezan los estilos de la segunda Navbar */
.nav2 {
  background: #2090e4;
  background: linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);
  background: -webkit-linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);
  background: -moz-linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);/* Cambiar el color de fondo a azul */
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  position: fixed;
  top: 70px; /* ajusta la posición vertical según el alto del header */
  left: 0;
  width: 100%;
  z-index: 998; /* menor que el z-index del header */
}
.nav2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.nav2 ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 75px;
  padding: 0;
}

.nav2 li {
  margin: 0 10px;
  /*  
  font-family: 'Nerko One', cursive;
  font-size: larger; */
}

.nav2 a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #F1F5F6;
  border-bottom: 2px solid transparent;
}

.nav2 a:hover {
  color: #F1F5F6;
  font-weight: bold;
  border-bottom: 2px solid #F1F5F6;
  padding-bottom: 3px;
}
/* Aqui terminan los estilos de la segunda Navbar */

  /* Aqui empiezan los estilos del login */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 100px;
  }
  
  .title {
    margin-bottom: 30px;
    color: #000;
    font-family: 'Nerko One', cursive;;
    font-size: 40px;
  }
  
  .form-container {
    border-radius: 12px;
    padding: 30px;
    width: 400px;
    box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.51);
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .input {
    border-radius: 5px;
    border: solid 1px;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  .link {
    font-size: 14px;
    color: #0074D9;
    text-align: center;
    margin-top: 16px;
  }

  .link-2 {
    font-size: 14px;
    margin-top: 10px;
    color: #0074D9; 
    text-align: center;   
  }
  
  .button {
    background-color: #0074D9;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  /* Aqui terminal los estilos del login */

  /* Aqui empiezan los estilos del footer */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copy-container {
    position: relative;
    z-index: 1;
    margin-top: -50px; /* ajusta la distancia vertical al contenido del SVG */
  }
  
  svg {
    width: 100%;
    height: auto;
    fill: #0074D9;
  }
  

  .copy-R {
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
  }

  .location-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: 3px;
  }
   /* Aqui terminan los estilos del footer */

   /* Media query para tablets */
   @media (max-width: 820px) {
    header h1 {
      display: none;
    }
      
  .logo img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  nav {
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 0.5rem;
  }
  .nav2 {
    text-align: center;
  }
  
  .nav2 ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  
  .nav2 li {
    margin-bottom: 1rem;
  }
  .form-container {
    max-width: 90%;
  }
  footer {
    position: relative;
  }
  
  footer svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    display: block;
  }
  
  @media (max-width: 820px) {
    footer svg {
      display: none;
    }
  }
  .copy-container {
    display: none;
  }
}
/* Media query para tablets */
/* Media query para moviles */
  @media (max-width: 480px) {
    .nav2 li {
      margin: 0 4px;
    }
    .nav2 a {
      font-size: 12px;
    }
  }
/* Media query para moviles */