/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(241%2c 245%2c 246%2c 1)'%3e%3c/rect%3e%3cpath d='M135.68708088822328 497.62863899753484L128.16341527251177 411.63274750146553 2.9314108362635523 465.9161916730675z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1173.2906768819223 187.37673080537598L1173.2906768819223 51.758676035139814 1037.6726221116862 187.376730805376z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M890.019%2c500.079C941.961%2c500.585%2c995.172%2c481.374%2c1020.557%2c436.055C1045.488%2c391.546%2c1030.913%2c338.252%2c1005.417%2c294.064C979.906%2c249.851%2c941.045%2c208.432%2c890.019%2c209.821C840.571%2c211.167%2c809.314%2c256.979%2c785.011%2c300.063C761.285%2c342.123%2c741.366%2c390.798%2c763.813%2c433.554C787.506%2c478.683%2c839.051%2c499.583%2c890.019%2c500.079' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1034.093%2c618.433C1068.496%2c620.276%2c1104.604%2c609.544%2c1122.61%2c580.172C1141.306%2c549.673%2c1138.8%2c509.829%2c1118.887%2c480.11C1100.86%2c453.206%2c1066.462%2c447.033%2c1034.093%2c448.063C1003.904%2c449.024%2c973.607%2c459.271%2c958.156%2c485.224C942.383%2c511.717%2c945.337%2c544.707%2c960.607%2c571.493C976.035%2c598.557%2c1002.985%2c616.767%2c1034.093%2c618.433' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M450.72398377694776 57.29938311974893L309.2695576133514 19.39678386340541 271.3669583570079 160.85121002700174 412.8213845206042 198.75380928334528z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M908.407%2c199.614C931.656%2c199.203%2c945.336%2c176.491%2c957.115%2c156.442C969.126%2c135.999%2c983.135%2c112.546%2c971.799%2c91.722C960.175%2c70.368%2c932.714%2c66.409%2c908.407%2c66.966C885.294%2c67.495%2c861.264%2c74.409%2c849.854%2c94.516C838.559%2c114.421%2c845.488%2c138.224%2c856.626%2c158.217C868.153%2c178.908%2c884.726%2c200.032%2c908.407%2c199.614' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 170%;
  }
  /* Estilos globales */

  /* Aqui empiezan los estilos de el header */
  header {
    background: #2090e4;
    background: linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);
    background: -webkit-linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);
    background: -moz-linear-gradient(180deg,#2090e4 0%, #5fb7e5 80%);/* Cambiar el color de fondo a azul */
    position: fixed;  /* Hacer que el encabezado sea fijo */
    top: 0;  /* Establecer la posición superior en 0 */
    left: 0; /* Establecer la posición izquierda en 0 */
    width: 100%; /* Establecer la anchura al 100% */
    z-index: 999; /* Asegurar que el encabezado aparezca por encima de cualquier otro contenido */
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    width: 120px;
    max-height: 60px;
  }
  
  .titulo h1 {
    color: #fff;
    margin: 0;
    font-size: 1.8rem;
    /*font-family: 'Nerko One', cursive;*/
  }

  h1 {
    animation: fadein 2s;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .login svg {
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
  }
  .logo-ingresa {
    color: #fff;
    font-size: small;
    text-decoration: none;
    font-weight: bold;
  }
  .logo-ingresa :hover {
    color: #fff;
  }
  /* Hasta aqui llegan los estilos de el header */

  /* Aqui empiezan los estilos de la segunda Navbar */
  .nav2 {
    margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 30px;
  }
  .nav2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }
  
  .nav2 ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav2 li {
    margin: 0 10px;
    /*  
    font-family: 'Nerko One', cursive;
    font-size: larger; */
  }
  
  .nav2 a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid transparent;
  }
  
  .nav2 a:hover {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  /* Aqui terminan los estilos de la segunda Navbar */

  /* Aqui empiezan los estilos del login */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .title {
    margin-bottom: 30px;
    color: #000;
    font-family: 'Nerko One', cursive;;
    font-size: 40px;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px;
    width: 400px;
    box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.51);
    -webkit-box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 7px 8px 3px rgba(0,0,0,0.51);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .input {
    border-radius: 5px;
    border: solid 1px;
    padding: 5px;
    margin-bottom: 20px;
  }
  
  .link {
    font-size: 14px;
    margin-bottom: 20px;
    color: #0074D9;
    text-align: center;
  }

  .link-2 {
    font-size: 14px;
    margin-top: 20px;
    color: #0074D9; 
    text-align: center;   
  }
  
  .button {
    background-color: #0074D9;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  /* Aqui terminal los estilos del login */

  /* Aqui empiezan los estilos del footer */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .copy-container {
    position: relative;
    z-index: 1;
    margin-top: -50px; /* ajusta la distancia vertical al contenido del SVG */
  }
  
  svg {
    width: 100%;
    height: auto;
    fill: #0074D9;
  }
  

  .copy-R {
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
  }

  .location-icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-bottom: 3px;
  }
   /* Aqui terminan los estilos del footer */

   /* Media query para tablets */
   @media (max-width: 820px) {
    header h1 {
      display: none;
    }
      
  .logo img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  nav {
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 0.5rem;
  }
  .nav2 {
    text-align: center;
  }
  
  .nav2 ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  
  .nav2 li {
    margin-bottom: 1rem;
  }
  .form-container {
    max-width: 90%;
  }
  footer {
    position: relative;
  }
  
  footer svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    display: block;
  }
  
  @media (max-width: 820px) {
    footer svg {
      display: none;
    }
  }
  .copy-container {
    display: none;
  }
}
/* Media query para tablets */