/* Estilos globales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M47.7 -79.74L123.05 -36.24L123.05 50.76L47.7 94.26L-27.65 50.76L-27.65 -36.24zM47.7 442.26L123.05 485.76L123.05 572.76L47.7 616.26L-27.65 572.76L-27.65 485.76zM198.39 -79.74L273.74 -36.24L273.74 50.76L198.39 94.26L123.05 50.76L123.05 -36.24zM273.74 50.76L349.09 94.26L349.09 181.26L273.74 224.76L198.39 181.26L198.39 94.26zM198.39 181.26L273.74 224.76L273.74 311.76L198.39 355.26L123.05 311.76L123.05 224.76zM273.74 311.76L349.09 355.26L349.09 442.26L273.74 485.76L198.39 442.26L198.39 355.26zM198.39 442.26L273.74 485.76L273.74 572.76L198.39 616.26L123.05 572.76L123.05 485.76zM349.09 442.26L424.43 485.76L424.43 572.76L349.09 616.26L273.74 572.76L273.74 485.76zM499.78 181.26L575.12 224.76L575.12 311.76L499.78 355.26L424.43 311.76L424.43 224.76zM650.47 -79.74L725.82 -36.24L725.82 50.76L650.47 94.26L575.12 50.76L575.12 -36.24zM650.47 181.26L725.82 224.76L725.82 311.76L650.47 355.26L575.12 311.76L575.12 224.76zM725.82 311.76L801.16 355.26L801.16 442.26L725.82 485.76L650.47 442.26L650.47 355.26zM801.16 -79.74L876.51 -36.24L876.51 50.76L801.16 94.26L725.82 50.76L725.82 -36.24zM801.16 181.26L876.51 224.76L876.51 311.76L801.16 355.26L725.82 311.76L725.82 224.76zM876.51 311.76L951.86 355.26L951.86 442.26L876.51 485.76L801.16 442.26L801.16 355.26zM951.86 -79.74L1027.2 -36.24L1027.2 50.76L951.86 94.26L876.51 50.76L876.51 -36.24zM1027.2 50.76L1102.55 94.26L1102.55 181.26L1027.2 224.76L951.86 181.26L951.86 94.26zM951.86 181.26L1027.2 224.76L1027.2 311.76L951.86 355.26L876.51 311.76L876.51 224.76zM1177.9 50.76L1253.24 94.26L1253.24 181.26L1177.9 224.76L1102.55 181.26L1102.55 94.26zM1102.55 181.26L1177.9 224.76L1177.9 311.76L1102.55 355.26L1027.2 311.76L1027.2 224.76zM1177.9 311.76L1253.24 355.26L1253.24 442.26L1177.9 485.76L1102.55 442.26L1102.55 355.26zM1102.55 442.26L1177.9 485.76L1177.9 572.76L1102.55 616.26L1027.2 572.76L1027.2 485.76zM1253.24 181.26L1328.59 224.76L1328.59 311.76L1253.24 355.26L1177.9 311.76L1177.9 224.76zM1479.28 50.76L1554.63 94.26L1554.63 181.26L1479.28 224.76L1403.93 181.26L1403.93 94.26zM1403.93 181.26L1479.28 224.76L1479.28 311.76L1403.93 355.26L1328.59 311.76L1328.59 224.76zM1403.93 442.26L1479.28 485.76L1479.28 572.76L1403.93 616.26L1328.59 572.76L1328.59 485.76z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M39 -79.74 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM114.35 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM114.35 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM39 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM-36.35 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM-36.35 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM39 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM114.35 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM114.35 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM39 616.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM-36.35 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM-36.35 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM189.69 -79.74 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM265.04 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM265.04 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM189.69 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM340.39 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM340.39 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM265.04 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM189.69 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM265.04 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM189.69 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM114.35 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM114.35 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM340.39 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM340.39 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM265.04 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM189.69 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM265.04 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM189.69 616.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM415.73 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM415.73 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM340.39 616.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM491.08 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM566.42 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM566.42 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM491.08 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM415.73 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM415.73 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM641.77 -79.74 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM717.12 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM717.12 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM641.77 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM566.42 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM566.42 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM641.77 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM717.12 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM717.12 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM641.77 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM792.46 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM792.46 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM717.12 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM641.77 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM792.46 -79.74 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM867.81 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM867.81 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM792.46 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM792.46 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM867.81 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM867.81 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM943.16 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM943.16 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM867.81 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM943.16 -79.74 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1018.5 -36.24 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1018.5 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM943.16 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1093.85 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1093.85 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1018.5 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM943.16 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1018.5 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1169.2 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1244.54 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1244.54 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1169.2 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1169.2 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1093.85 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1244.54 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1244.54 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1169.2 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1093.85 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1169.2 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1093.85 616.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1018.5 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1018.5 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1319.89 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1319.89 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1470.58 50.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1545.93 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1545.93 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1470.58 224.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1395.23 181.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1395.23 94.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1470.58 311.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1395.23 355.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1395.23 442.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1470.58 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1470.58 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1395.23 616.26 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1319.89 572.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0zM1319.89 485.76 a8.7 8.7 0 1 0 17.4 0 a8.7 8.7 0 1 0 -17.4 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M83.2 59.92L126.5 84.92L126.5 134.92L83.2 159.92L39.9 134.92L39.9 84.92zM39.9 434.92L83.2 459.92L83.2 509.92L39.9 534.92L-3.4 509.92L-3.4 459.92zM126.5 -15.08L169.81 9.92L169.81 59.92L126.5 84.92L83.2 59.92L83.2 9.92zM169.81 209.92L213.11 234.92L213.11 284.92L169.81 309.92L126.5 284.92L126.5 234.92zM256.41 209.92L299.71 234.92L299.71 284.92L256.41 309.92L213.11 284.92L213.11 234.92zM213.11 284.92L256.41 309.92L256.41 359.92L213.11 384.92L169.81 359.92L169.81 309.92zM256.41 359.92L299.71 384.92L299.71 434.92L256.41 459.92L213.11 434.92L213.11 384.92zM213.11 434.92L256.41 459.92L256.41 509.92L213.11 534.92L169.81 509.92L169.81 459.92zM256.41 509.92L299.71 534.92L299.71 584.92L256.41 609.92L213.11 584.92L213.11 534.92zM299.71 -15.08L343.02 9.92L343.02 59.92L299.71 84.92L256.41 59.92L256.41 9.92zM343.02 59.92L386.32 84.92L386.32 134.92L343.02 159.92L299.71 134.92L299.71 84.92zM299.71 284.92L343.02 309.92L343.02 359.92L299.71 384.92L256.41 359.92L256.41 309.92zM343.02 359.92L386.32 384.92L386.32 434.92L343.02 459.92L299.71 434.92L299.71 384.92zM299.71 434.92L343.02 459.92L343.02 509.92L299.71 534.92L256.41 509.92L256.41 459.92zM386.32 434.92L429.62 459.92L429.62 509.92L386.32 534.92L343.02 509.92L343.02 459.92zM516.23 59.92L559.53 84.92L559.53 134.92L516.23 159.92L472.93 134.92L472.93 84.92zM472.93 134.92L516.23 159.92L516.23 209.92L472.93 234.92L429.62 209.92L429.62 159.92zM559.53 134.92L602.83 159.92L602.83 209.92L559.53 234.92L516.23 209.92L516.23 159.92zM602.83 509.92L646.13 534.92L646.13 584.92L602.83 609.92L559.53 584.92L559.53 534.92zM646.13 -15.08L689.44 9.92L689.44 59.92L646.13 84.92L602.83 59.92L602.83 9.92zM646.13 284.92L689.44 309.92L689.44 359.92L646.13 384.92L602.83 359.92L602.83 309.92zM689.44 359.92L732.74 384.92L732.74 434.92L689.44 459.92L646.13 434.92L646.13 384.92zM646.13 434.92L689.44 459.92L689.44 509.92L646.13 534.92L602.83 509.92L602.83 459.92zM776.04 209.92L819.35 234.92L819.35 284.92L776.04 309.92L732.74 284.92L732.74 234.92zM776.04 359.92L819.35 384.92L819.35 434.92L776.04 459.92L732.74 434.92L732.74 384.92zM776.04 509.92L819.35 534.92L819.35 584.92L776.04 609.92L732.74 584.92L732.74 534.92zM819.35 -15.08L862.65 9.92L862.65 59.92L819.35 84.92L776.04 59.92L776.04 9.92zM862.65 209.92L905.95 234.92L905.95 284.92L862.65 309.92L819.35 284.92L819.35 234.92zM819.35 434.92L862.65 459.92L862.65 509.92L819.35 534.92L776.04 509.92L776.04 459.92zM949.25 59.92L992.56 84.92L992.56 134.92L949.25 159.92L905.95 134.92L905.95 84.92zM905.95 284.92L949.25 309.92L949.25 359.92L905.95 384.92L862.65 359.92L862.65 309.92zM992.56 -15.08L1035.86 9.92L1035.86 59.92L992.56 84.92L949.25 59.92L949.25 9.92zM992.56 284.92L1035.86 309.92L1035.86 359.92L992.56 384.92L949.25 359.92L949.25 309.92zM1035.86 359.92L1079.16 384.92L1079.16 434.92L1035.86 459.92L992.56 434.92L992.56 384.92zM1035.86 509.92L1079.16 534.92L1079.16 584.92L1035.86 609.92L992.56 584.92L992.56 534.92zM1079.16 134.92L1122.46 159.92L1122.46 209.92L1079.16 234.92L1035.86 209.92L1035.86 159.92zM1165.77 134.92L1209.07 159.92L1209.07 209.92L1165.77 234.92L1122.46 209.92L1122.46 159.92zM1209.07 209.92L1252.37 234.92L1252.37 284.92L1209.07 309.92L1165.77 284.92L1165.77 234.92zM1165.77 284.92L1209.07 309.92L1209.07 359.92L1165.77 384.92L1122.46 359.92L1122.46 309.92zM1209.07 509.92L1252.37 534.92L1252.37 584.92L1209.07 609.92L1165.77 584.92L1165.77 534.92zM1252.37 284.92L1295.67 309.92L1295.67 359.92L1252.37 384.92L1209.07 359.92L1209.07 309.92zM1295.67 359.92L1338.98 384.92L1338.98 434.92L1295.67 459.92L1252.37 434.92L1252.37 384.92zM1338.98 -15.08L1382.28 9.92L1382.28 59.92L1338.98 84.92L1295.67 59.92L1295.67 9.92zM1382.28 359.92L1425.58 384.92L1425.58 434.92L1382.28 459.92L1338.98 434.92L1338.98 384.92zM1425.58 -15.08L1468.88 9.92L1468.88 59.92L1425.58 84.92L1382.28 59.92L1382.28 9.92zM1468.88 209.92L1512.19 234.92L1512.19 284.92L1468.88 309.92L1425.58 284.92L1425.58 234.92zM1425.58 284.92L1468.88 309.92L1468.88 359.92L1425.58 384.92L1382.28 359.92L1382.28 309.92zM1425.58 434.92L1468.88 459.92L1468.88 509.92L1425.58 534.92L1382.28 509.92L1382.28 459.92z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
/* Estilos globales */

/* Aqui empiezan los estilos de el header */
header {
  background-color: #0074D9; /* Cambiar el color de fondo a azul */
  position: fixed;  /* Hacer que el encabezado sea fijo */
  top: 0;  /* Establecer la posición superior en 0 */
  left: 0; /* Establecer la posición izquierda en 0 */
  width: 100%; /* Establecer la anchura al 100% */
  z-index: 999; /* Asegurar que el encabezado aparezca por encima de cualquier otro contenido */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 120px;
  max-height: 60px;
}

.titulo h1 {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Nerko One', cursive;
}

.login svg {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}
.logo-ingresa {
  color: #fff;
  font-size: small;
  text-decoration: none;
}
.logo-ingresa :hover {
  color: #fff;
}
/* Hasta aqui llegan los estilos de el header */

/* Aqui empiezan los estilos de la segunda Navbar */
.nav2 {
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
}
.nav2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.nav2 ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav2 li {
  margin: 0 10px;
  /*  
  font-family: 'Nerko One', cursive;
  font-size: larger; */
}

.nav2 a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.nav2 a:hover {
  color: #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
/* Aqui terminan los estilos de la segunda Navbar */

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Aqui empiezan los estilos de cmi nit */ 
h3 {
  text-align: center;
  color: #fff;
  font-family: 'Nerko One', cursive;
}
.section-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
.section-2 button {
    background-color: #0074D9;
    color: #fff;
    border-radius: 6px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 36px;
    font-weight: bold;
    font-size: 14px;
}
.section-2 :hover  {          
    background-color: #fff;
    color: #000;
}
.boton-nit-1 {
    margin-right: 8px;
    height: 40px;
    border-radius: 6px;
}
.boton-nit-2 {
    width: 2%;
    height: 40px;
    border-radius: 6px;
}
.boton-nit-3{
  display: none;
}
/* Aqui terminan los estilos de cmi nit */

/* Aqui van los estilos de los atajos */
.links-container a {
  border-radius: 12px;
  width: calc(25% - 10px);
  height: 50px;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 0px;
  background-color: #0074D9;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.links-container a:hover {
  background-color: #fff;
}
/* Aqui terminan los estilos de los atajos */

/* Aqui empiezan los estilos del footer */
.copy-R {
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.img-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
} 

.location-icon {
  width: 14px;
  height: 18px;
  margin-right: 6px;
  margin-bottom: 3px;
}
 /* Aqui terminan los estilos del footer */